.dayBox {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    color: #555;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 120px;
    height: 120px;
    cursor: pointer;
}